* {
  box-sizing: border-box;
}

body {
  overflow-x: scroll;
  height: 100vh;
  background-color:#0079BF;
}
input[type="text"]{
  border:none;
  padding:3px;
  margin:-3px;
  border-radius:3px;
}

textarea {
  border: none;
  width: 100%;
}
.board {
  white-space: nowrap;
}

/* -- list styles -- */

.our-list {
  width: 300px;
  /*float:left;*/
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  background-color: #e2e4e6;
  padding:8px;
  border-radius:3px;
}

.list-name {
  margin-bottom: 20px;
  float:left;
}


/*-------card styles--------*/
.our-card {
  padding: 5px;
  clear: both;
  white-space:normal;
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color:#fff;
  border-radius:3px;
  margin-bottom:6px;
}
card:hover {
  background-color:#edeff0;
}

/*---- hover icons ----*/
.remove-list, .hover-icon {
  float: right;
  color: transparent;
  transition: all 0.1s ease;
  /*margin-left: 20px;*/
}

.our-list:hover .remove-list, .our-card:hover .hover-icon{
  color: silver;
}

#app .hover-icon:hover {
  color: grey;
}

/*---navstyles---*/
.our-nav {
  background-color: #0067A3;
  box-sizing: border-box;
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.board {
  margin-top: 55px;
}

/*#app .button .our-icon {
  margin-left: 2px;
  margin-right: 2px;
}*/

/* ---- popup menu styles ----*/
.our-card {
  position: relative;
}
.move-menu {
  width: 400px;
  margin: 0px;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 300px;
  border: 1px grey solid;
}
/*.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.7);
  z-index: 900;
}*/
.highlighted {
  background-color: LightGreen;
}
