body {
  overflow-x: scroll;
  height: 100vh;
  background-color:#0079BF;
}
input[type="text"]{
  border:none;
  padding:3px;
  margin:-3px;
  border-radius:3px;
}
.board {
  white-space: nowrap;
}

/* -- list styles -- */

.our-list {
  width: 300px;
  /*float:left;*/
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  background-color: #e2e4e6;
  padding:8px;
  border-radius:3px;
}

.list-name {
  margin-bottom: 20px;
  float:left;
}

.remove-list, .remove-card, .edit-card {
  float: right;
  color: transparent;
  transition: all 0.1s ease;
  margin-left:5px;
}
/*-------card styles--------*/
.our-card {
  padding: 5px;
  clear: both;
  white-space:normal;
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color:#fff;
  border-radius:3px;
  margin-bottom:6px;
}
card:hover {
  background-color:#edeff0;
}

.our-list:hover .remove-list, .our-card:hover .remove-card, .our-card:hover .edit-card{
  color: grey;
}

/*---navstyles---*/
.our-nav {
  background-color: #0067A3;
  box-sizing: border-box;
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.board {
  margin-top: 55px;
}

/*#app .button .our-icon {
  margin-left: 2px;
  margin-right: 2px;
}*/
