body {
  overflow-x: scroll;
  height: 100vh;
}

.board {
  white-space: nowrap;
}

/* -- list styles -- */

.list {
  width: 300px;
  /*float:left;*/
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.list-name {
  margin-bottom: 20px;
}

.remove-list, .remove-card, .edit-card {
  float: right;
  color: transparent;
  transition: all 0.1s ease;
  margin-left:5px;
}
/*-------card styles--------*/
.card {
  padding: 5px;
  clear: both;
  white-space:normal;
}

.list:hover .remove-list, .card:hover .remove-card, .card:hover .edit-card{
  color: grey;
}

/*---navstyles---*/
.our-nav {
  background-color: #0067A3;
  height: 30px;
}

/*#app .button .our-icon {
  margin-left: 2px;
  margin-right: 2px;
}*/
